<div class="columns">
	<div class="column is-half is-offset-one-quarter">
		<div class="card">
			<header class="card-header">
				<p class="card-header-title">Login</p>
			</header>
			<form class="card-content" [formGroup]="credentials" (ngSubmit)="login(credentials.value, credentials.valid)">
				<div class="notification is-danger" *ngIf="error">
					<button class="delete" (click)="error = null"></button>
					{{ error }}
				</div>
				<div class="field">
					<label class="label">Username</label>
					<div class="control">
						<input class="input" type="text" placeholder="Username" formControlName="username" />
					</div>
				</div>
				<div class="field">
					<label class="label">Password</label>
					<div class="control">
						<input class="input" type="password" placeholder="Password" formControlName="password" />
					</div>
				</div>
				<div class="field">
					<div class="control">
						<button class="button is-primary is-fullwidth" [ngClass]="{'is-loading': inProgress}" type="submit">
							Login
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
